#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sensor-data {
  height: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}

.sensor {
  display: flex;
  flex-direction: column;
  color: aquamarine;
  font-family: monospace;
  min-width: 48px;
}

.meter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meter label {
  color: deeppink;
}

.divider {
  width: 100%;
  padding: 0 1rem;
  border-bottom: 1px solid cyan;
}